.c-ball {
  position: absolute;
  bottom: 263px;
  left: 46%;
  display: none;
  width: 44px;
  background-position: top, center;
  transform: translate( 50%, 50% );

  @media (min-width: 992px) {
    display: block;
  }

  &__img {
    display: block;
    width: 100%;
  }
}
