.c-country-list {
  margin-top: 30px;

  @media (min-width: 992px) {
    margin-top: 100px;
  }
}

.c-country-link {
  margin-bottom: 30px;

  &__link,
  &__link:hover {
    position: relative;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 80px;
    border: 1px solid #e6e3e6;
    border-radius: 10px;
    color: #bd8e00;
    text-decoration: none;
    background: #fff;
    background: rgba( 255, 255, 255, 1 );
    background: -moz-linear-gradient( top, rgba( 255, 255, 255, 1 ) 0%, rgba( 230, 227, 230, 1 ) 100% );
    background: -webkit-gradient( left top, left bottom, color-stop( 0%, rgba( 255, 255, 255, 1 ) ), color-stop( 100%, rgba( 230, 227, 230, 1 ) ) );
    background: -webkit-linear-gradient( top, rgba( 255, 255, 255, 1 ) 0%, rgba( 230, 227, 230, 1 ) 100% );
    background: -o-linear-gradient( top, rgba( 255, 255, 255, 1 ) 0%, rgba( 230, 227, 230, 1 ) 100% );
    background: -ms-linear-gradient( top, rgba( 255, 255, 255, 1 ) 0%, rgba( 230, 227, 230, 1 ) 100% );
    background: linear-gradient( to bottom, rgba( 255, 255, 255, 1 ) 0%, rgba( 230, 227, 230, 1 ) 100% );
    -webkit-box-shadow: 0 0 5px 0 rgba( 0, 0, 0, 0.3 );
    -moz-box-shadow: 0 0 5px 0 rgba( 0, 0, 0, 0.3 );
    box-shadow: 0 0 5px 0 rgba( 0, 0, 0, 0.3 );
    filter: progid:dximagetransform.microsoft.gradient( startColorstr="#ffffff", endColorstr="#e6e3e6", GradientType=0 );
    transition: all 250ms ease-in-out;
  }

  &__link:hover {
    top: -10px;
  }

  &__img {
    width: 40px;
    margin-right: 15px;
    border: 2px solid rgba( 0, 0, 0, 0.1 );
    border-radius: 5px;
  }

  &__name {
    margin-bottom: 0;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
  }
}
