.c-player {
  position: absolute;
  right: 30%;
  bottom: 100px;
  display: none;
  width: 400px;

  @media (min-width: 992px) {
    display: block;
  }

  &__img {
    display: block;
    width: 100%;
  }
}
