@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap");
@import "./components/player/Player.scss";
@import "./components/ball/Ball.scss";
@import "./components/header/Header.scss";
@import "./components/footer/Footer.scss";
@import "./components/countrylist/countrylink/CountryLink.scss";
@import "./components/league/league.scss";
@import "./views/league/LeagueView.scss";

html {
  height: 100%;
}

body,
html {
  min-height: 100%;
  font-family: "Roboto Condensed", sans-serif;
  background-image: url( "assets/images/grass_pattern.jpg" );
  background-position: center center;

  @media (min-width: 992px) {
    background-image: url( "assets/images/backgorund.jpg" );
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
}

.o-football-app {
  position: relative;
  min-height: 100vh;
  padding-bottom: 200px;
}
